Source: python-pdal
Section: python
Priority: optional
Maintainer: Matyas Hollmann <matyas.hollmann@melown.com>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 ninja-build,
 cmake,
 pybind11-dev,
 python3-skbuild,
 python3-dev (>= 3.6),
 python3-numpy,
 libpdal-dev (>= 2.3.0),
 libpdal-plugins (>= 2.3.0),
X-Python-Version: >= 3.6
Standards-Version: 3.9.8
Homepage: https://github.com/melowntech/PDAL
Vcs-Git: https://github.com/melowntech/PDAL.git
Vcs-Browser: https://github.com/melowntech/PDAL

Package: python3-pdal
Architecture: any
Depends:
 ${python3:Depends},
 ${shlibs:Depends},
 ${misc:Depends}
Provides:${python3:Provides}
Description: Python PDAL library wrapper

